@font-face {
    font-family: 'icomoon';
    src: url(/fonts/icomoon10102020.ttf);
    src: url(/fonts/icomoon.eot) format('embedded-opentype'),
     url(/fonts/icomoon2.ttf) format('truetype'),
      url(/fonts/icomoon.woff) format('woff'),
       url(https://www.fb88olympic.com/Content/fonts/icomoon.svg?10102020#icomoon) format('svg');
    font-weight: normal;
    font-style: normal
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-Deposit:before {
    content: ""
}

.icon-Withdraw:before {
    content: ""
}

.icon-247:before {
    content: ""
}

.custService .panel {
    margin-bottom: 0;
    background-color: transparent;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

.nomargin {
    margin: 0
}

.tcenter {
    text-align: center;
    position: relative
}

#btn-Chat {
    position: fixed;
    width: 199px;
    right: -199px;
    top: 147px;
    padding: 10px;
    z-index: 999;
    background: #036745;
    background: url(https://www.fb88olympic.com/Content/images/sidebar/side-helpcenter-bg.jpg) no-repeat top center;
    background-size: cover
}

#btn-Chat img {
    border: 0;
    width: 22px;
    height: auto
}

html:lang(en-US) #btn-Chat #btnCloseChat {
    position: absolute;
    right: 198px;
    top: 0;
    display: block;
    height: 341px;
    width: 56px;
    background: #048642;
    background: url(/Content/images/sidebar/side-helpcenter-yw-en.png) no-repeat top center;
    background-size: cover
}

html:lang(en-US) .blackBody #btn-Chat #btnCloseChat {
    background: #fee91c;
    background: url(/Content/images/sidebar/side-helpcenter-gr-en.png) no-repeat top center;
    background-size: cover
}

html:lang(vi-VN) #btn-Chat #btnCloseChat {
    position: absolute;
    right: 198px;
    top: 0;
    display: block;
    height: 261px;
    width: 56px;
    background: #048642;
    background: url(/Content/images/sidebar/side-helpcenter-yw-vn.png) no-repeat top center;
    background-size: cover
}

html:lang(vi-VN) .blackBody #btn-Chat #btnCloseChat {
    background: #fee91c;
    background: url(/Content/images/sidebar/side-helpcenter-gr-vn.png) no-repeat top center;
    background-size: cover
}

html:lang(th-TH) #btn-Chat #btnCloseChat {
    position: absolute;
    right: 198px;
    top: 0;
    display: block;
    height: 331px;
    width: 56px;
    background: #048642;
    background: url(/Content/images/sidebar/side-helpcenter-yw-th.png) no-repeat top center;
    background-size: cover
}

html:lang(th-TH) .blackBody #btn-Chat #btnCloseChat {
    background: #fee91c;
    background: url(/Content/images/sidebar/side-helpcenter-gr-th.png) no-repeat top center;
    background-size: cover
}

html:lang(zh-CN) #btn-Chat #btnCloseChat {
    position: absolute;
    right: 198px;
    top: 0;
    display: block;
    height: 181px;
    width: 56px;
    background: #048642;
    background: url(/Content/images/sidebar/side-helpcenter-yw-cn.png) no-repeat top center;
    background-size: cover
}

html:lang(zh-CN) .blackBody #btn-Chat #btnCloseChat {
    background: #fee91c;
    background: url(/Content/images/sidebar/side-helpcenter-gr-cn.png) no-repeat top center;
    background-size: cover
}

.depositIcon {
    background-position: -80px -682px;
    width: 46px;
    height: 43px
}

.withdrawIcon {
    background-position: -126px -682px;
    width: 34px;
    height: 45px
}

.twentyFourSeven {
    width: 83px;
    height: 47px;
    background-position: -163px -682px
}

#btn-Chat #btnCloseChat img {
    width: 100%;
    height: auto
}

#btn-Chat .newanchor {
    color: #fff;
    display: inline-block;
    margin-top: 5px
}

.qrCode {
    display: block
}

.qrcodeContent {
    background: #00562a;
    padding: 5px 0 10px 0;
    margin-top: -10px;
    margin-bottom: 5px;
    display: none;
    z-index: 1
}

.qrcodeContent img {
    border: 1px solid #fff !important;
    width: 100px !important;
    height: auto !important
}

.btnChatAnchor {
    cursor: pointer
}

.btnChat {
    border-radius: 3px;
    background: #fee71b;
    color: #272300;
    text-align: center;
    height: 31px;
    width: 109px;
    line-height: 31px;
    display: inline-block;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 5px;
    background-image: linear-gradient(to right top, #ffc400, #ffca03, #ffd107, #ffd70d, #ffde13, #ffe22c, #fee73d, #feeb4c, #feee65, #fff17c, #fff391, #fff6a6);
    box-shadow: 0 0 3px rgba(0, 0, 0, .4)
}

.imgCustomerServ {
    position: absolute;
    top: -176px;
    left: 50px
}

.waysto,
.waysto a {
    font-size: 12px;
    color: #fff
}

.custService a {
    display: block;
    background: rgba(0, 0, 0, .4);
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    color: #fee71b;
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    z-index: 9
}

html:lang(th-TH) .custService a {
    font-size: 10px;
    font-weight: 100
}

html:lang(zh-CN) .custService a {
    font-size: 15px
}

.custService a:first-child {
    margin-top: 20px
}

.secondtext {
    font-size: 8.5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400
}

.custIcon {
    background: url(/Content/css/images/casino/customer-service-sprite.png) no-repeat;
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px
}

.custService a:hover {
    background: #096e3b
}

.custService span {
    vertical-align: middle;
    margin-right: 2px
}

.custService .yellowText span {
    font-size: 9px
}

.mail-icon {
    background-position: -132px -727px !important;
    height: 18px;
    width: 22px
}

.phone-icon {
    background-position: -131px -704px !important;
    height: 23px;
    width: 24px
}

.phone2-icon {
    background-position: -131px -763px !important;
    height: 24px;
    width: 24px
}

.line-icon {
    background-position: -131px -788px !important;
    height: 24px;
    width: 24px
}

.line2-icon {
    background-position: -130px -890px !important;
    height: 24px;
    width: 24px
}

.zolo-icon {
    background-position: -131px -814px !important;
    height: 24px;
    width: 24px
}

.icon-for-24 {
    font-size: 85px;
    line-height: 60px;
    color: #fff;
    display: block;
    width: 100%;
    text-align: center
}

.icon-for-deposit {
    font-size: 45px;
    line-height: 45px;
    color: #fff;
    display: block;
    width: 100%;
    text-align: center
}

.facebook-chatIcon {
    width: 24px;
    height: 24px;
    background-position: -130px -839px !important
}

.telegram-icon {
    width: 24px;
    height: 24px;
    background-position: -130px -865px !important
}

#helpcenter.modal {
    text-align: center;
    padding: 0 !important
}

#helpcenter .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: auto !important
}

#helpcenter .modal-content {
    color: #333;
    background: #028843
}

#helpcenter .modal-content .tcenter {}

#helpcenter .modal-content p {}

#helpcenter .modal-content .modal-body {
    position: relative
}

.imgClassHelpCenter {
    transition: all .2s ease-in-out;
    cursor: pointer;
    margin-bottom: 12px
}

.imgClassHelpCenter:hover {
    transform: scale(1.1)
}

#helpcenter .modal-content .modal-body .tcenter p {
    padding: 5px 0 0 0;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase
}

#helpcenter .modal-content .modal-body .closeBtnhelpCenter {
    position: absolute;
    right: -20px;
    top: -20px;
    background: rgba(19, 19, 19, .38823529411764707);
    border: none;
    font-size: 24px;
    float: right;
    color: #ffff12;
    border-radius: 200px;
    height: 40px;
    width: 40px;
    z-index: 1119
}

#helpcenter .modal-content a {
    text-transform: none
}

#helpcenter .modal-content a:hover {
    text-transform: none
}

.viberModalClose {
    position: absolute;
    top: -21px;
    right: -26px;
    border: 1px solid #fff;
    z-index: 999;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background: #000;
    color: #fff
}

#viberModal .modal-content {
    background: #00562a
}

#viberModal .modal-dialog {
    top: 18%
}

#viberModal h4 {
    color: #fff;
    margin-bottom: 0;
    font-size: 28px;
    font-weight: 900
}

@media(max-width:580px) {
    #helpcenter .imgClassHelpCenter {
        max-width: 80%;
        height: auto;
        margin-bottom: 10px
    }

    #helpcenter .modal-content .modal-body .tcenter p {
        margin-top: 0;
        text-transform: uppercase;
        font-size: 12px;
        margin-bottom: 15px
    }
}

@media(max-width:380px) {
    #helpcenter .modal-content .modal-body .tcenter p {
        margin-top: 0;
        text-transform: uppercase;
        font-size: 10px;
        margin-bottom: 15px
    }
}